.welcome-text {
    padding: 0px;
    margin: 0px !important;
}

.dashBord-stats {
    background-color:white;
    height: 90%;
    width: 30%;
    margin-left: 2%;
    border: 3px solid forestgreen;
    border-radius: 5px;
}
.dashBoard-middle{
    background-color: rgba(0, 128, 0, 0.6);
    height: 100%;
    width: 100%  ;
    margin-left: 2%;
    margin-left: 0;
    border-radius: 5px 5px 5px 5px;
    /*border: 3px solid forestgreen;*/
    border-radius: 5px;
    text-align: center !important;
    color: white;

}




