@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
  font-family: "Poppins", cursive;
  margin: 0;
}

body{
  background: #29AC8D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29AC8D, #29AC8D, #29AC8D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F5F5F5, #F5F5F5, #F5F5F5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register{
  max-width: 978px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: white;
  font-family: 'Roboto', sans-serif; /* Add Roboto font */
  font-size: 13px;
}

.register span{
  color: #adb5bd;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form .text{
  text-align: left;
}

#form .text1{
  text-align: right;
  color: #29AC8D;
  cursor: pointer;
}
#form .text2{
  text-align: center;
  color: #adb5bd;
}

#form .text3{
  text-align: center;
  color: #29AC8D;
  cursor: pointer;
}
.text4{
  text-align: left;
  position: absolute;
  bottom: 0%;
  left: 53%;
}


#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #29AC8D;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

.overlay-text {
  position: absolute;
  top: 25%; /* Adjust the vertical position as needed */
  left: 33%; /* Adjust the horizontal position as needed */
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  text-align: left;
  /*background-color: rgba(0, 0, 0, 0.5); !* Adjust the background color and opacity *!*/
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.overlay-text-desc {
  position: absolute;
  top: 75%; /* Adjust the vertical position as needed */
  left: 33%; /* Adjust the horizontal position as needed */
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
  text-align: justify;
  /*background-color: rgba(0, 0, 0, 0.5); !* Adjust the background color and opacity *!*/
  padding: 10px;
  font-family: 'Georgia', serif;
  font-weight: 300;
  font-style: italic;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  position:static;
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  filter: brightness(0.7);
}


.register .col-3{
  width: 350px;
  height: 370px;
  position:absolute;
  margin: auto;
  padding: 3em 0;
  /*border: 2px solid #29AC8D;*/
  box-shadow: 0 0 20px rgba(41, 172, 141, 0.5);
  top: 25%;
  right: 22.5%;

}



@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}
